
.wrap1 {
	width: 100%;
	min-height: calc(100% - 148px - 150px);
	background-color: rgb(247, 247, 242, 75%);
	padding : 30px 0;
}

#quickmenu {
	position: sticky;
	top:100px;
	float:left;
	width: 100px;
	height: 500px;
}
#quickmenu>div, #quickmenu a {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 20px;
	cursor: pointer;
}

.quickIcon1 {
	width: 52px;
	height: 52px;
	border: 1px solid #EAEAEA;
	border-radius: 27px;
	background-color: white;
	box-shadow: 0px 2px 2px #EAEAEA;
}

.quickIcon1 div {
	width: 40px;
	margin: 11px;
}

.quickIcon1 div img {
	width: 30px;
}

.quickIcon2 {
	width: 54px;
	height: 54px;
	border-radius: 27px;
	background-color: #EAEAEA;
	box-shadow: 0px 2px 2px lightgray;
}

.quickIcon2 div {
	width: 40px;
	margin: 11px;
}

.quickIcon2 div img {
	width: 30px;
}
.btns{
	width:340px;
	height:45px;
	margin: 0 auto;
}
.bigbtn {
	height: 45px;
	width: 170px;
	border-width: 2px;
	border-color: rgb(240, 93, 35);
	border-style: solid;
	border-radius: 5px;
	background-color: white;
	color: rgb(240, 93, 35);
	font-weight: bold;
}

.smallbtn{
	height: 45px;
	width: 170px;
	border-width: 2px;
	border-color: ligntgray;
	border-style: solid;
	border-radius: 5px;
	background-color: white;
	color: lightgray;
	font-weight: bold;
}
.button {
	height: 45px;
	width: 120px;
	border-width: 2px;
	border-color: rgb(240, 93, 35);
	border-style: solid;
	border-radius: 5px;
	background-color: white;
	color: rgb(240, 93, 35);
	font-weight: bold;
	cursor: pointer;
}


.title {
	width: 810px;
	height: fit-content;
	padding: 20px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	
}

#categoryIcon {
	width: 810px;
	height: 100px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
#categoryIcon > div {
	float: left;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#categoryIcon li>div {
	padding: 10px 0 10px 0;
	width: 150px;
	display: flex;
	align-items: center;
}

#categoryIcon div>div {
	width: 60px;
	height: 60px;
	border: 1px solid #EAEAEA;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0px 2px 2px #EAEAEA;
}

#categoryIcon img {
	width: 50px;
	padding: 5px;
}

#status2{
	width: 810px;
	padding: 20px 0;
	margin-bottom:20px;
	color: gray;
}
#status2 li{
	float: left;
	cursor : pointer;
}
#status2 ul{
	width: 250px;
	float: right;
	display: flex;
	justify-content: space-between;
}


#storySection {
	width: 810px;
	height: 100%;
	margin: 0 auto;
}

.listSection{
	width: 770px;
	height: fit-content;
	padding: 20px;
	margin: 0 auto;
	margin-bottom: 40px;
	background-color: white;
	border-radius: 5px;
	border: 1px solid rgb(218, 220, 224);
	box-shadow: rgb(63 71 77/ 6%) 0px 2px 4px 0px;
}

.detailSection{
	width: 770px;
	height: auto;
	padding: 20px;
	margin: 0 auto;
	margin-bottom: 40px;
	background-color: white;
	border-radius: 5px;
	border: 1px solid rgb(218, 220, 224);
	box-shadow: rgb(63 71 77/ 6%) 0px 2px 4px 0px;
}

.aside {
	float: left;
	width: 100px;
	height: 600px;
}

.wrap770 {
	min-height: 100%;
	width: 1020px;
	margin: 0 auto;
	position: relative;
}

.postTitle {
	width: fit-content;
	height: fit-content;
	font-weight: bold;
	font-size: 20pt;
	margin: 10px 10px;
}

.postSubTitle {
	width: fit-content;
	height: fit-content;
	font-size: 13pt;
	color: gray;
	margin: 20px 10px 10px 10px;
}

#postHeader {
	width: 750px;
	height: fit-content;
	margin: 0px 10px;
	padding-top: 10px
}

#profileContainer {
	width: 730px;
	height: 50px;
	padding: 10px;
	margin: 20px auto;
}

#profileImg {
	float: left;
	width: 50px;
	height: 50px;
	background-color: gray;
	margin-right: 10px;
	border-radius: 25px;
	overflow: hidden;
}

#big_profileImg {
	float: left;
	width: 64px;
	height: 64px;
	background-color: gray;
	margin-right: 10px;
	border-radius: 32px;
	overflow: hidden;
}

#small_profileImg {
	float: left;
	width: 40px;
	height: 40px;
	background-color: gray;
	margin-right: 10px;
	border-radius: 20px;
	overflow: hidden;
}

#profileImg img, #big_profileImg img, #small_profileImg img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#profileTxt {
	float: left;
	width: fit-content;
	height: fit-content;
	padding-left: 6px;
}

.followBtn {
	float: right;
	width: fit-content;
	height: fit-content;
	margin: 2px 0 0 10px;
	padding: 5px 10px 5px 10px;
	border: 1px solid lightgray;
	border-radius: 5px;
	background-color: white;
	color: gray;
	font-weight: bold;
	cursor: pointer;
}

.followBtn2 {
	float: right;
	width: fit-content;
	height: fit-content;
	margin: 2px 0 0 10px;
	padding: 5px 10px 5px 10px;
	border: 1px solid rgb(240,93,35);
	border-radius: 5px;
	background-color: rgb(240,93,35);
	color: white;
	font-weight: bold;
	cursor: pointer;
}

.updel {
	float: right;
}

.updel li {
	float: left;
	color: lightgray;
	padding: 5px;
}

.updel input {
	background-color: transparent;
	font-size: 11pt;
	color: gray;
	border: 0;
	cursor: pointer;
}

#postcontainer {
	width: 750px;
	overflow: auto;
	padding: 10px
}
.listImg {
	float: left;
	width: 750px;
	height: auto;
	overflow: hidden;
}
.listImg img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.listImg img:hover {
	transition: all 0.1s linear;
	transform: scale(1.02);
	opacity: 80%;
}

.postImg {
	float: left;
	width: 750px;
	height: 500px;
	background-color: lightgray;
	overflow: hidden;
}
.postImg img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.storyProducts {
	float: left;
	width: 750px;
	height: auto;
	padding: 20px 0px 0px 0px;
}

.productsImg {
	float: left;
	width: 100px;
	height: 100px;
	margin: 10px;
	border-radius: 30px;
	overflow: hidden;
}

.productsImg img{
	width: 100%;
	height:100%;
	object-fit: cover;
	cursor: pointer;
}

.productsImg img:hover {
	transition: all 0.1s linear;
	transform: scale(1.07);
	opacity : 70%;
}

.postTxt {
	float: left;
	width: 730px;
	height: fit-content;
	padding: 30px 10px;
}
.postTxt textarea{
	width: 730px;
	height: fit-content;
	border: 0;
	outline: none;
	font-size: 12pt;
	padding: 15px 0 15px 0;
	float: left;
	resize: none;
}

#postfooter {
	width: 750px;
	height: fit-content;
	margin: 0px 10px;
	float: left;
}

.viewCountWrap{
	width: 750px;
	display:flex;
	aligh-items: center;
	justify-content: space-between;
}
.viewCount {
	width: 120px;
	display: flex;
	justify-content: space-around;
}

.viewCountWrap img{
	width: 30px;
	cursor: pointer;
}

.viewCount > div{
	width: 60px;
	height: 60px;
	font-size: 10pt;
	color: gray;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.viewCount2{
	height: 30px;
	font-size: 10pt;
	color: gray;
}

.viewCount2 li{
	float: left;
	padding: 0 10px;
}

#foot_profileContainer {
	width: 730px;
	height: 64px;
	padding: 10px;
	margin: 20px auto;
	float: left;
	display: flex;
	align-items: center;
}

#foot_profileTxt {
	float: left;
	width: fit-content;
	height: fit-content;
}

#foot_profileTxt span{
	cursor:pointer;
}

#foot_profileTxt li {
	float: left;
	padding: 0 5px;
}

#foot_viewCount{
	height: 30px;
	font-size: 10pt;
	color: gray;
}

#foot_viewCount li{
	float: left;
	padding: 0 10px;
}


.leftlist2 {
	padding-right: 10px;
	padding-top: 15px;
	list-style: none;
	float: left;
}

#replyList {
	width: 750px;
	height: fit-content;
	margin: 0px 10px 20px 10px;
	display:block;
}

#replyInsert {
	width: 750px;
	height: fit-content;
	padding: 40px 0 40px 0;
	margin: 0 auto;
	float: left;
}

#replyInsert>div {
	width: 750px;
	height: fit-content;
	float: left;
}

.replyInput {
	float: left;
	-webkit-box-align: center;
	align-items: center;
	line-height: 0;
	box-sizing: border-box;
	border: 1px solid lightgray;
	border-radius: 4px;
	display: block;
	padding: 0px 16px;
	cursor: text;
	width: 700px;
	height: 46px;
}

.replyInput:focus {
	outline: none;
	border: 1px solid rgb(240, 93, 35);
}

.replyUpdateInput {
	float: left;
	-webkit-box-align: center;
	align-items: center;
	line-height: 0;
	box-sizing: border-box;
	border: 1px solid lightgray;
	border-radius: 4px;
	display: block;
	padding: 0px 16px;
	cursor: text;
	width: 650px;
	height: 46px;
}

.replyUpdateInput:focus {
	outline: none;
	border: 1px solid rgb(240, 93, 35);
}

.reply {
	background-color: white;
	width: 750px;
	height: fit-content;
	margin-bottom: 30px;
	display: inline-flex;
}

.replyInsertBtn {
	position: absolute;
	top: 25%;
	right: 16px;
}

.replyInsertBtn>input {
	background-color: white;
	font-size: 13pt;
	color: gray;
	border: 0;
	font-weight: bold;
	cursor: pointer;
}

.replyContents {
	width: 680px;
	height: fit-contents;
}

.replyBtn {
	background-color: white;
	font-size: 10pt;
	color: gray;
	border: 0;
	cursor: pointer;
	display: flex;
}

.replyMenu {
	color: gray;
	font-size: 10pt;
}

.replyMenu>* {
	float: left;
}

#hr2 {
	border: 0;
	height: 2px;
	background-color: #EAEAEA;
	z-index: 999;
	display: block;
	width: 770px;
	margin: 0;
	float: left;
}

#storyWriteForm>div {
	width: 100%;
	height: 100%;
	display: block;
	float: left;
}


#writeTitle {
	width: 690px;
	height: 70px;
	border: 0;
	outline: none;
	font-weight: bold;
	font-size: 23pt;
	padding: 15px 0 15px 0;
	float: left;
}

#writeTitle::-webkit-input-placeholder {
	color: rgb(164, 172, 179);
}

.textLength {
	float: left;
	width: 80px;
	padding: 40px 0;
}

.textLength>div {
	margin: 0 3px;
	float: left;
	color: gray;
}

#writeCategory {
	outline: none;
	padding: 0 16px 0 16px;
	border-color: #A6A6A6;
	border-style: solid;
	border-width: 1.5px;
	border-radius: 5px;
	height: 40px;
	width: 250px;
	color: black;
	font-size: 12pt;
}

#writeContents{
	width: 770px;
	border:0;
	height: 500px;
	outline: none;
	font-size: 12pt;
	padding: 15px 0 15px 0;
	float: left;
	resize: none;
}

.thumbnailUpdBG {
	width:200px;
	height: fit-content;
	background-color: lightgray;
}

.thumbnailUpdBG > img{
	opacity: 60%;
}

#emptyArea{
	width: 100%;
	height: 70px;
	padding: 30px 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

#page {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}



#writeContents::-webkit-input-placeholder {
	color: rgb(164, 172, 179);
}

.errorTxt {
	margin-top: 10px;
	font-size: 9pt;
	padding: 0;
	color: red;
	height: 20px
}