* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

html, body {
  height: 100%;
}

hr {
  border: 0;
  height: 1px;
  background-color: #EAEAEA;
  z-index: 999;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

input[type=button] , input[type=submit] , button {
	cursor: pointer;
	border-radius: 5px;
	background-color: white;
}

input[type=checkbox] , select{
	cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  resize: none;
}

.wrap0 {
  position: relative;
  min-height: calc(100% - 90px - 150px);
}